* {
    margin: 0;
    padding: 0
}

.prvi-naslov {
    color: white;
    background-color: red;
    font-family: sans-serif;
    font-size: 50px;

    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
}

.drugi-naslov {
    font-family: sans-serif;
    font-size: 25px;
    padding: 15px 20px;
    padding-left: 10px;
}

.link {
    background-color: blue;
    padding: 15px 15px;
}

a {
    background-color: blue;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    padding-right: 15px;
}

p {
    padding-left: 10px;
    font-family: sans-serif;
}